@import '../../../index.scss';

.login-form {
  &--title {
    font-size: $font-size--16;
    text-align: center;
    margin-bottom: $space--20;
  }

  /*  override styles  */
  input {
    padding: $space--16 !important;
    background-color: #f9f9f9 !important;
  }
}
